.login {
  padding-top: 250px;
}

.login-all {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input-1 {
  display: flex;
  flex-direction: column;
}

.login-input-1 input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #c4c4c4;
}

.login-input-1 label {
  color: black;
  font-weight: 600;
  padding-bottom: 3px;
}

.login-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.login-checkbox {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 60px;
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.login-bottom button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
