.hero {
  padding-top: 140px;
  background-color: #e6e6e6;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.hero-all {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.hero-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-title span {
  font-weight: 700;
  color: red;
  text-decoration: underline;
}

.hero-title h1 {
  font-size: 20px;
}

.hero-left h2 {
  font-size: 40px;
  max-width: 350px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 10px;
}

.hero-left p {
  max-width: 450px;
  color: grey;
  padding-bottom: 40px;
}

.hero-input {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-input input {
  padding: 22px 58px;
  background-color: white;
  border: none;
  border-radius: 50px;
}

.hero-input svg {
  position: absolute;
  left: 20px;
  font-size: 25px;
  color: grey;
}

.hero-input button {
  background-color: #3bb77e;
  border: none;
  border-radius: 50px;
  padding: 22px 40px;
  font-weight: 500;
  color: white;
  position: absolute;
  left: 200px;
  cursor: pointer;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.hero-item {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px rgb(217, 217, 217);
}

.hero-img {
  position: absolute;
  top: 335px;
  right: -50px;
}
